/*плюсы*/
.pluses {
    background-color: #222224;
}
.plus {
    display: flex;
    align-items: center;
    max-width: 360px;
    flex-direction: column;
}
.plus-delivery {
    background-image: url(../images/delivery-img.svg);
    background-position: top;
    background-repeat: no-repeat;
}
.img-pluses-delivery {
    margin-bottom: 25px;
}
.img-pluses-sales {
    margin-bottom: 17px;
}
.img-pluses-quality {
    margin-bottom: 22px;
}
.pluses-container {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
    padding-bottom: 103px;
}
.pluses-heading {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
}
.pluses-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}